* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
}

.content {
  margin-top: 20px;

  h2 {
    font-size: 2rem;
    color: #343a40;
  }

  p {
    font-size: 1.1rem;
    color: #6c757d;
    text-align: center;
  }
}
