$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;

$primary-bg-color: #f4f4f4;
$hover-bg-color: #d1e7fd;
$text-color: #555;
$hover-text-color: #000;
$logo-bg-color: #f8f9fa;

$btn-bg-color: #007bff;
$btn-hover-bg-color: darken(#007bff, 10%);

$error-bg-color: #f8d7da;
$error-text-color: #721c24;

$heading-text-color: #343a40;
$content-text-color: #6c757d;

$box-shadow-color: rgba(0, 0, 0, 0.1);
$header-shadow-color: rgba(0, 0, 0, 0.2);

$border-radius: 8px;
$font-family: 'Arial', sans-serif;
$input-padding: 14px;
$sidebar-width: 250px;

$common-color-white: #fff;